

/* Font class styles */
/* inter font */


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.dancing-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: 'Maima';
    src: url('../font/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 @import url('https://fonts.cdnfonts.com/css/miama');

  
 
/* Universall */

/* multipul classes style */
.main-button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color:#E6533C;
    color: white;
    border: none;
}
.header-buttons{
    display: flex;
    justify-content: start;
    background-color: transparent;

}
.button{
    border-radius: 50px;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;

}


*{
    background-color: black;
    color: #f8f8f8;
}
.all-titles{
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.all-subtitle{
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
/* header tag styles */

header{
    /* background: linear-gradient(right, #111111 0%, rgba(119, 119, 119, 0) 100%); */
background-image: linear-gradient( #7777 0%, #000000 );
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 190px;
    background-color: transparent;
}
nav .title{
    font-size: 2.25em;
    font-weight: bolder;
    font-style: italic;
    color: #E6533C;
    background-color: transparent;
}



.menu-bar{
    width: 29em;
    height: 2.8em;
    display: flex;  
    justify-content: space-around;
    border: 1px solid #FFFFFF1A;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: transparent;

}
 li{
    list-style: none;
    display: flex;
    text-align: center; 
    background-color: transparent;  
}

nav  li a{
    text-decoration: none;
    padding: 8px 30px;
    font-weight: 400;
        font-weight: 18px;
        background-color: transparent;
}


nav li a:hover{
    background-color: #E6533C;
    border-radius: 20px;
}
.menu-bar-icons{
    display: none;
}

/* header text */

.header-section{
    display: flex;
    margin: 10px auto;
    justify-content: space-evenly;
    flex-direction: row; 
    background-color: transparent;  
   
   
}

.header-text{
    width: 520px;
    margin-top: 70px;
    background-color: transparent;
}

.header-title{
    color:white;
    font-size: 4.5em;
    font-weight: 900;
    line-height: 93.6px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.header-title span{
    font-size: 78px;
    font-weight:400 ;
    max-height: 93.6px;
    position:sticky;
    font-family:'Miama', sans-serif;
    background-color: transparent;
}

.header-des{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
background-color: transparent;
}
.download-app-button{
 margin-left: 20px; 
 }

 /* Left Section */
#images{
    height: 580px;
    width: 349px;
    background-image: url("../images/images 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100%; */
    position: relative;
    background-color: transparent;
    
}
.position{
    background-color: transparent;
    position: absolute;
    
}
.position-1{
background-color: rgba(255, 255, 255, 0.351);
position: absolute;
top: 170px;
right: -50px;
padding: 10px 10px;
border-radius: 10px;
}

.position-1 h3{
    margin: 0;
    padding: 0;
    font-size: 2em;  
}
.position p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.position-2{
    background-color: rgba(255, 255, 255, 0.351);
    position: absolute;
    display: flex;
    bottom: 80px;
    left: -40px;
    padding: 10px 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    background-color: #E6533C;
}

.position-text h3{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: bolder;  
}
.position-text p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#images h3, p{
background-color: transparent;
}
/* body OR main section style */
/* Habite-section */
.habits{
    text-align: center;
    margin: 0 0;
    margin-top: 100px;
  
}
.habits-container{
    padding: 10px 130px;
    display: flex;
    margin: 70px 30px;
    text-align: center;
}
.habits-container h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0 0;
    padding: 0;
    margin-top: 30px;
    
}
.habits-container p{
    font-size: 16px;
    margin: 0 30px;
    padding: 0;
    color: #f8f8f88f;
    
}
.habits-container .image img{
height: 150px;
width: 150px;
border-radius: 100%;
background-image: url("../images/image 3.png");
}


/* Habbits 2 Section */
.habbits-2{
  margin:  150px 190px;
  padding-bottom: 50px;
   background-color: #7777;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
  

}

.run-extra-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    width: 40%;
    margin:20px 50px;
    height: 100%;  
   
}

.run-extra-text h2{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    line-height: 60px;
}
.join-now-button{
    width: 50%;
    margin-top: 20px;
}

.habbits-2-image{
  height: auto;
  width: 250px;
  border-radius: 20px;
  margin: 20px;
}
.training{
    margin: 0 190px;
}
.image-collage .row-1{
    display: flex;
    justify-content: center;
}


/* footer section style */


/* MEDIA QUARY */

/* medium devices media quary styles  */
@media screen and (min-width:768px) and (max-width:1023px){
   
   body{
    padding: 0;
    margin: 0;
   }
    nav{
        margin: 0 10vw;
        padding: 0;
    }
    
    .header-section{
    flex-direction: column;
    margin-left: 10vw;
        
    }  
    #images{
      margin: auto;
      margin-top: 60px;
    }
    .menu-bar-icons{
        display: none;
    }
    .habits-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       gap: 100px;
    }
.habbits-2{
    margin: 10px;
}
}

/* small devices media quary styles */

@media screen and (max-width:767px){
    nav{
        margin: 0 10vw;
    }
    header{
        
        width: 100%;
    }
    .header-title{
        font-size: 48px;
    }
    .menu-bar{
        display: none;
    }
    .menu-bar-icons{
        display: flex;
        background-color: transparent;
    }
    .header-text{
        width: 352px;
    }
    .header-section{
        flex-direction: column;
        margin-left: 10vw;
    }
    #images{
        margin: auto;
        margin-top: 70px;
    }
    .habits-container{
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .all-titles{
        font-size: 48px;
        margin-bottom: 20px;
        background-color: transparent;
    }
    .habits-container h3{
        font-size: 24px;
    }
    .habits-container p{
        
        font-size: 16px;
        margin: 0 30px;
        margin-bottom: 50px;
    }
.habbits-2{
    display: flex;
    flex-direction: column;
  
    margin: 15px;
    
}
.run-extra-text{
    width: 100%;
    margin: 20px;

}
.run-extra-text h2{
    font-size: 42px;
}
.habbits-2-image{
    width: 90%
}
.join-now-button{
    width: 90%;
}
}